<html>
<head>
</head>
<body>
	<h1>Banks list</h1>
    <a href="/">Calculate month payment</a>
	<table border="1px solid black">
	<tr>
		<th>Bank name</th>
		<th>Interest rate, %</th>
		<th>Maximum loan</th>
		<th>Min down payment, %</th>
		<th>Max loan period, months</th>
	</tr>
	{appResponse}
	</table>
	<a href="/banks/addbank">Add new bank</a>
</body>
</html>