<html>
<head>
</head>
<body>
	<h1 style="color: rgb(70, 28, 109);">This page for : {{msg}} (not in so far future.....)</h1>
	<br>
	<a href="/">Back to start page</a>
	<br>
	<a href="/banks">Back to banks list</a>
</body>
</html>