<html>
<head>
</head>
<body>
<h1>Banks list</h1>
<br>
<a href="/">To main page</a>
<br>
<form action="/banks/addbank" method="get">
    <label for="bName">Bank name, string:</label>
	<input type="text" name="bName" value="Bank N-th">(string)<br><br>
	<label for="bName">Interest rate, %:</label>
	<input type="text" name="iRate"><br><br>
	<label for="bName">Maximum loan:</label>
	<input type="text" id="bName" name="bName"><br><br>
	<label for="bName">Min down payment, %:</label>
	<input type="text" id="bName" name="bName"><br><br>
	<label for="bName">Max loan period in months:</label>
	<input type="text" id="bName" name="bName"><br><br>
	<input type="submit" value="Add"><br><br>
</form>
</body>
</html>